body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffffff; 
    color: black; /* Color de texto */
}

.arribaformulario{
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.arribaformulario img{
    width: 11%;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff; /* Color de fondo del contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container h2 {
    margin-bottom: 20px;
    color: #0f0f0f; /* Color de texto */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #aaa; /* Color del borde de los campos */
    border-radius: 2px;
    background-color: #fff; /* Color de fondo de los campos */
    color: #0f0f0f; /* Color de texto de los campos */
    font-size: medium;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0f0f0f; /* Color de fondo del botón similar al de Netflix */
    color: #fff; /* Color de texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006340; /* Cambio de color de fondo al pasar el ratón */
}

.pieformulario{
    text-align: center;
}
.pieformulario a{
    color: #006340;
}

.terminos{
    font-size: 12px;
    text-align: center;
    color: #979e9e;
}

.principal{
    text-align: center;
}
.principal img {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0%;
    width: 50%;
}

.gordo{
    margin-right: 20%;
    margin-left: 25%;
    margin-top: 0%;
}

.articulos{
    width: 19%;
    height: 20%;
    float: left;
    padding-right: 5%;
    margin-bottom: 5%;
}

.articulos img{
    width: 100%;
}

.precio{
    font-size: large;
    font-weight: bold;
}